# =========================
# OAuth Access Token from Adobe Developer Console -> API Credentials -> Generate Access Token
# =========================
ACCESS_TOKEN=

# =========================
# Client ID from Adobe Developer Console -> API Credentials
# =========================
CLIENT_ID=

# =========================
# Adobe IMS Organization ID from Adobe Developer Console -> API credentials
# =========================
ORG_ID=
